<!DOCTYPE html>{% autoescape None %}
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <title>Fair Copyright</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="/static/style.css" type="text/css" rel="stylesheet">
    <script src="/static/jquery-1.10.0.min.js"></script>
    <!--[if lt IE 9]>
      <script src="/static/json3.js"></script>
      <script src="/static/jquery.ba-hashchange.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div class="content">
          <h1>
            <a href="/">#COPYWRONG</a>
          </h1>
        </div>
      </div>
      
      <div id="blurb">
        <div class="content">
          Australia's copyright laws are out of touch with the digital world. They're designed to balance protections for creators alongside fair and reasonable access to works, but in the digital age they're falling behind. At the moment, they're more #copywrong than #copyright.
        </div>
      </div>

      <div id='body'>
        <div class="content">
          <ul id="all-list">
            {% for factoid in factoids %}
            <li><a class='source' href="/{{factoid['slug']}}">{{factoid['content']}}</a></li>
            {% end %}
          </ul>
        </div>
      </div>
      
      <div id='footer'>
        <div class="content">
          <a rel="license" href="http://creativecommons.org/licenses/by/3.0/au/deed.en_US"><img alt="Creative Commons License" style="border-width:0;" class='cc-by' src="http://i.creativecommons.org/l/by/3.0/au/80x15.png" /></a>
          <a href="/all">See all the facts</a>
          <div style="float: right"> 
            <span style="vertical-align: middle">
              <a href="http://digital.org.au">Australian Digital Alliance</a>
              &bull;
              <a id="about-button" href="#about-this-site">About This Site</a>
            </span>
          </div>
          <div style="clear:both"></div>
          <div id="about-this-site" style='border-top:#ddd;display:none'>
            <hr>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut leo dui. Ut feugiat condimentum tellus, a commodo elit euismod nec. Vivamus quis felis magna, ac pellentesque mi. Phasellus hendrerit lectus vel mi pellentesque at mattis lectus venenatis. Integer a diam auctor risus consectetur tincidunt.
            </p><p>
            Duis consectetur commodo tortor, at convallis orci ultricies non. Donec eros lacus, adipiscing non ullamcorper sit amet, convallis nec dui. Maecenas ac leo turpis, non pretium velit. In tempor dictum fermentum. Mauris ac dui ut elit molestie suscipit. Nullam vitae nibh at dui sagittis laoreet in eget est. In hac habitasse platea dictumst. Pellentesque vel dui eget orci tempus laoreet. Nulla quis magna nec eros dictum euismod. Suspendisse purus orci, lobortis id egestas in, porta et augue. Sed in mi elit, quis tempor elit.
            </p>
          </div>
        </div>
      </div>
    </div>

    <script></script>
  </body>
</html>

