<!DOCTYPE html>{% autoescape None %}
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <title>Fair Copyright</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script>if(!history.pushState&&location.pathname!=="/")location.href=location.protocol+"//"+location.host+"/#"+location.pathname;var slug="{{slug}}"</script>
    <link href="/static/style.css" type="text/css" rel="stylesheet">
    <script src="/static/jquery-1.10.0.min.js"></script>
    <!--[if lt IE 9]>
      <script src="/static/json3.js"></script>
      <script src="/static/jquery.ba-hashchange.min.js"></script>
    <![endif]-->
    <script src="/static/logic.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div class="content">
          <h1>
            <a href="/">#COPYWRONG</a>
          </h1>
        </div>
      </div>
      
      <div id="blurb">
        <div class="content">
          Australia's copyright laws are out of touch with the digital world. They're designed to balance protections for creators alongside fair and reasonable access to works, but in the digital age they're falling behind. At the moment, they're more #copywrong than #copyright.
        </div>
      </div>

      <div id='body' style="visibility: hidden">
        <div class="content">
          {% if error %}
          <div class='factoid-content'>
            <div id='content'>{{error}}</div>
          </div>
          <p class="btn-container"><a class="btn random-btn" href="/">Show me a copyright fact!</a></p>
          {% else %}
          <div class='factoid-content'>
            <p style="font-size: 90%; color: #1E8FBB;">
              Under today's copyright laws:
            </p>
            <p id='content'>
              {{"</p><p>".join(content.strip().split('\n'))}}
            </p>
            <p id='source-container'>
              Source: <a id="source" href="{{source_url}}">{{source_text.strip()}}</a>
            </p>
          </div>
          
          <div class="btn-container"{% if more_content == "" %} style="display: none"{% end %}>
            <button id="read-more" class="btn">Read more</button>
          </div>
          
          <div id="more_content" style="display:none"> 
            <p>
              {{"</p><p>".join(more_content.strip().split('\n'))}}
            </p>
          </div>
            
          <div id="more_button" class="btn-container"{% if button_url == "" or button_text == "" or more_content != "" %} style="display: none"{% end %}>
            <a class="btn" id="button" href="{{button_url}}">{{button_text}}</a>
          </div>

          <p class="btn-container"><a class="btn random-btn" id="next-fact" href="/random">Show me another copyright fact!</a></p>
          {% end %}
        </div>
      </div>
      
      <div id='footer'>
        <div class="content">
          <a style="vertical-align: middle" href="https://twitter.com/intent/tweet?button_hashtag=copywrong&text=" class="twitter-hashtag-button" data-related="Aus_Digital" data-url="http://faircopyright.com.au" data-dnt="true">Tweet #copywrong</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          <a rel="license" href="http://creativecommons.org/licenses/by/3.0/au/deed.en_US"><img alt="Creative Commons License" style="border-width:0;" class='cc-by' src="http://i.creativecommons.org/l/by/3.0/au/80x15.png" /></a>
          <div style="float: right"> 
            <span style="vertical-align: middle">
              Australian Digital Alliance
              &bull;
              <a href="#">Contact Us</a>
              &bull;  
              <a href="#" id="hot-pink-time">Hot Pink Time</a>
            </span>
          </div>
          <div style="clear:both"></div>
        </div>
      </div>
    </div>

    <script></script>
  </body>
</html>
