<!DOCTYPE html>{% autoescape None %}
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <title>#COPYWRONG</title>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Aus_Digital">
    <meta name="twitter:title" content="#COPYWRONG">
    <meta name="twitter:description" content="Australia's copyright laws are out of touch with the digital world. In the digital age they're falling behind. At the moment, they're more #copywrong than #copyright.">
    <meta name="twitter:creator" content="@Aus_Digital">
    <meta name="twitter:domain" content="faircopyright.com.au">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script>if(!history.pushState&&location.pathname!=="/")location.href=location.protocol+"//"+location.host+"/#"+location.pathname;var slug="{{slug}}"</script>
    <link href="/static/style.css" type="text/css" rel="stylesheet">
    <script src="/static/jquery-1.10.0.min.js"></script>
    <script src="http://platform.twitter.com/widgets.js"></script>
    <!--[if lt IE 9]>
      <script src="/static/json3.js"></script>
      <script src="/static/jquery.ba-hashchange.min.js"></script>
    <![endif]-->
    <script src="/static/logic.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div class="content">
          <h1>
            <a href="/">#COPYWRONG</a>
          </h1>
        </div>
      </div>
      
      <div id="blurb">
        <div class="content">
          Australia's copyright laws are out of touch with the digital world. They're designed to balance protections for creators alongside fair and reasonable access to works, but in the digital age they're falling behind. At the moment, they're more #copywrong than #copyright.
        </div>
      </div>

      <div id='body' style="visibility: hidden">
        <div class="content">
          {% if error %}
          <div class='factoid-content'>
            <div id='content'>{{error}}</div>
          </div>
          <p class="btn-container"><a class="btn random-btn" href="/">Show me a copyright fact!</a></p>
          {% else %}
          <div class='factoid-content'>
            <p style="font-size: 90%; color: #1E8FBB; text-align: left; text-shadow: 0px 1px 1px #d8d3d1;">
              Under today's copyright laws:
            </p>
            <p id='content'>
              {{"</p><p>".join(content.strip().split('\n'))}}
            </p>
            
            <div id="more_content" style="display:none"> 
              <p>
                {{"</p><p>".join(more_content.strip().split('\n'))}}
              </p>
            </div>
            
            <p id='source-container'>
              Source: <a id="source" class='source' href="{{source_url}}">{{source_text.strip()}}</a>
            </p>
          </div>
          
          <div class="btn-container"{% if more_content == "" %} style="display: none"{% end %}>
            <button id="read-more" class="btn">Read more</button>
          </div>
          
          <p class="btn-container"><a class="btn random-btn" id="next-fact" href="/random">Show me another copyright fact!</a></p>
          {% end %}
        </div>
      </div>
      
      <div id="about-this-site" style='display:none'>
        <div class="content">
          <p>The Australian Law Reform Commission (ALRC) is currently undertaking an <a href="http://www.alrc.gov.au/inquiries/copyright-and-digital-economy">Inquiry into exceptions in Australian copyright law</a>. They’ve been tasked with determining whether our existing copyright exceptions are adequate and appropriate in the digital environment.</p>
          <p>The Inquiry has generated a lot of debate around the best copyright framework for Australia’s rapidly growing digital economy.  This website highlights some of the basic conflicts between our existing copyright exceptions and emergent digital technologies. These are just a few of the aspects of Australian copyright law we believe need changing.</p>
          <p>You can read more about the copyright issues affecting a range of sectors, from libraries and archives to IT companies, schools, universities, museums, galleries, artists and consumers in the Australian Digital Alliance’s <a href="http://digital.org.au/our-work/submission/alrc-inquiry-copyright-and-digital-economy-issues-paper">submission to the ALRC Issues Paper on Copyright &amp; the Digital Economy</a>.</p>
        </div>
      </div>
      <div id='footer'>
        <div class="content">
          {% if not error %}
          <div id="twitter"></div>
          {% end %}
          <a rel="license" href="http://creativecommons.org/licenses/by/3.0/au/deed.en_US"><img alt="Creative Commons License" style="border-width:0;" class='cc-by' src="http://i.creativecommons.org/l/by/3.0/au/80x15.png" /></a>
          <div style="float: right"> 
            <span style="vertical-align: middle">
              <a href="http://digital.org.au">Australian Digital Alliance</a>
              &bull;
              <a id="about-button" href="javascript:;">About This Site</a>
              &bull;
              <a href="/all">See All Facts</a>
              &bull;
              <a href="javascript:;" id="hot-pink-time">Copycrazy</a>
            </span>
          </div>
          <div style="clear:both"></div>
        </div>
      </div>
    </div>

    <script></script>
  </body>
</html>
